RewriteEngine On
RewriteBase /MercaZone/

# Ignorar si el archivo o carpeta existe
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# /controlador/accion/param -> index.php?url=controlador/accion/param
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
