.aside-dashboard{
    background: white;
    height: 100vh;
    width: 250px;
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    position: absolute;
    top: 0;
    left: 0;
    transition: left 0.3s ease;
}

.aside-title{
    margin-bottom: 7vh;
    display: grid;
    place-items: center;
}

.aside-title-link{
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    display: flex;
}

.aside-title-link span:first-child{
    color:#00b45d;
}

.aside-title-link span:last-child{
    color:#014651;
}

.aside-menu{
    list-style: none;
    padding: 0;
    margin: 0;
    margin: 0px 10px;
}

.aside-menu-item{
    margin: 12px 0;
    text-align: center;
}

.aside-menu-link{
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    color: black;
    box-sizing: content-box;
    padding: 10px 20px;
    border-radius: 5px;
}

.aside-menu-link.selected{
    background: var(--primary-color);
    color: white;

}

.aside-menu-link .material-symbols-outlined{
    font-size: 30px;
}

.aside-menu-link .aside-menu-link-text{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    margin-top: 4px;
}
.aside-menu-link:hover{
    background: rgba(0, 0, 0, 0.1);
}

/* Informacion Main Dashboard */

.main-dashboard{
    margin-left: 250px;
    padding: 20px;
}


.header-dashboard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 2vh;
}

.header-dashboard-title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header-dashboard-title h1{
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    margin: 0 0 10px 0;
}

.header-dashboard-title span{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: gray;
}

.header-dashboard-actions{
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-action-btn{
    font-family: "Roboto", sans-serif;
    border: none;
    background: transparent;
    border-radius: 10px;
    padding: 10px 15px;
}

.header-action-btn:hover{
    background: var(--primary-color);
    cursor: pointer;
    color: white;
}

.header-dashboard-user{
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-dashboard-user img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.header-dashboard-userdata{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header-dashboard-userdata span{
    font-family: "Roboto", sans-serif;
    color: rgb(88, 88, 88);
}

.dashboard-userdata-name{
    font-weight: bold;
    font-size: 12px;
}

.dashboard-userdata-secondary{
    color: rgb(130, 130, 130);
    font-size: 13px;
}

.header-action-btn-menu{
    display: none;
    font-family: "Roboto", sans-serif;
    border: none;
    background: transparent;
    border-radius: 10px;
    padding: 10px 15px;
}

/* Dashboard Main */

.dashboard-datas{
    display: grid;
    grid-template-columns: repeat(5, 200px);
    grid-template-rows: repeat(5, 1fr);
    gap: 15px;
    margin-top: 30px;
    font-family: "Roboto", sans-serif;
}
    
.dashboard-main-lef {
    grid-column: span 3 / span 3;
    grid-row: span 5 / span 5;
}

.dashboard-main-rig {
    grid-column: span 2 / span 2;
    grid-row: span 5 / span 5;
    grid-column-start: 4;
}

.rig-top-sellers{
    text-align: center;
}

.rig-top-sellers h3{
    margin: 0;
}

.buyer-info{
    text-align: left;
}

.header-action-btn-table{
    background: #ff1900;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.dashboard-main-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.dashboard-main-card{
    background: #E74C3C;
    border-radius: 10px;
    padding: 20px;
    color: white;
    font-family: "Roboto", sans-serif;
    width: 10px;
    flex: 1;
}

.dashboard-main-card.blue{
    background: #3498DB;
}

.dashboard-main-card.yellow{
    background: #F1C40F;
}

.dashboard-main-card.green{
    background: #2ECC71;
}

.dashboard-main-card h3{
    margin: 0;
    font-size: 16px;
}

.dashboard-main-card-data{
    margin-top: 16px;
    text-align: center;
}

.dashboard-main-card-data p:first-child{
    font-size: 29px;
    font-weight: bold;
    margin: 0;
    
}
.dashboard-main-card-data p:last-child{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    margin: 5px 0 0 0;
}


/* Dashboard Products */

.dashboard-products{
    display: none;
    flex-direction: column;
}

.dashboard-products-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 2vh;
}

.dashboard-products-search{
    font-family: "Roboto", sans-serif;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px 15px;
    width: 300px;
    border-radius: 5px;
}

.dashboard-products-filter{
    font-family: "Roboto", sans-serif;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px 15px;
    background: white;
}

.header-action-btn{
    font-family: "Roboto", sans-serif;
    border: none;
    background: var(--primary-color);
    border-radius: 10px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    color: white;
    border-radius: 20px;
}

.header-action-btn-chat{
    background: #2ECC71;
    border: none;
    color: white;
    padding: 6px;
    border-radius: 5px;
    cursor: pointer;
}

.header-action-btn-edit{
    background: #F39C12;
    border: none;
    color: white;
    padding: 6px;
    border-radius: 5px;
    cursor: pointer;
}
.header-action-btn-delete{
    background: #E74C3C;
    border: none;
    color: white;
    padding: 6px;
    border-radius: 5px;
    cursor: pointer;
}
/* .header-action-btn:hover{
    background: darken(var(--primary-color), 5%);
    cursor: pointer;
    color: black;
} */

/* Dashboard Product Modal */
.modal-product, .modal-details, .modal-universal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1000;
    transition: all 0.3s ease;
    overflow-y: auto;
}

.modal-product-body, .modal-universal-body{
    background: white;
    border-radius: 10px;
    padding: 20px;
}
.modal-product-header{
    padding: 20px;
    border-radius: 10px;
    min-width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-product-header h2{
    font-family: "Roboto", sans-serif;
    margin: 0;
}

.modal-product-header-btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-form-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.product-form-image img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
    background: grey;
}

.product-form-image label{
    display: flex;
    align-items: center;
    cursor: pointer;
    color: white;
    background: var(--secondary-color);
    padding: 10px 15px;
    border-radius: 5px;
}


.product-form-image input[type="file"]{
    display: none;
}

.add-product{
    display: flex;
    justify-content: center;
    gap: 20px;
    font-family: "Roboto", sans-serif;
}

.product-form-data-groups{
    display: flex;
    gap: 40px;
}

.product-form-data-group{
    margin-bottom: 20px;
    position: relative;
}

.product-form-data-group label{
    display: block;
    margin-bottom: 5px;
}

.product-form-data-group input{
    width: 100%;
    height: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: rgb(238, 238, 238);
    color: black;

}

.product-form-data-group select{
    width: 180px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: rgb(238, 238, 238);
    color: black;
}

.product-form-data-group span{
    font-size: 20px;
    font-weight: bold;
    color: black;
    position: absolute;
    left: 10px;
    top: 33px;
}

.product-form-data-group textarea{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: rgb(238, 238, 238);
    color: black;
}


/* Dashboard products table */

.dashboard-products-table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: white;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    overflow-x: auto
}

.dashboard-products-table th,
.dashboard-products-table td{
    padding: 12px 15px;
}

.dashboard-products-table th{
    color: rgb(172, 172, 172);
    text-align: left;
}

.dashboard-products-table-body tr td:first-child{
    display: flex;
    align-items: center;
    gap: 10px;
}

.product-image{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 5px;
}


/* Dashboard Purchases */

.dashboard-purchases{
    display: none;
    flex-direction: column;
}

.purchases-list{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

    margin-top: 2vh;
}

.purchases-list-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-family: "Roboto", sans-serif;
    border: .5px solid rgb(158, 158, 158);
    border-radius: 10px;
    cursor: pointer;
}

.purchase-item-details{
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.purchases-list-item:hover{
    background: rgba(0, 0, 0, 0.05);
}
.purchases-list-item img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.purchase-action-btn{
    background: var(--primary-color);
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
}

.purchase-action-btn:hover{
    background: darken(var(--primary-color), 5%);
    cursor: pointer;
    color: black;
}

.purchase-action-btn-secondary{
    color: #F39C12;
    border: 1px solid #F39C12;
    padding: 10px 15px;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    align-items: center;
}

.purchase-action-btn-secondary:hover{
    background: #F39C12;
    color: white;
}

.status{
    font-weight: bolder;
    font-size: 17px;
}

.status.completed{
    color: #2ECC71;
}
.status.pending{
    color: #F39C12;
}
.status.cancelled{
    color: #E74C3C;
}

/* Modal Purchase Details */
.modal-details-body{
    background: white;
    border-radius: 10px;
    padding: 20px;
    min-width: 600px;
    max-width: 90vw;
    max-height: 80vh;
    overflow-y: auto;
    font-family: "Roboto", sans-serif;
}
.modal-details-header{
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal-details-header h2{
    font-family: "Roboto", sans-serif;
    margin: 0;
}
.modal-details-header-btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-details-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
}
.modal-details-content h3, .modal-details-product-info h3{
    font-family: "Roboto", sans-serif;
    margin: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 5px;
}
.modal-details-products{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.modal-details-product{
    display: flex;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
}
.modal-details-product img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 10px;
}
.modal-details-product-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: "Roboto", sans-serif;
    margin-top: 2vh;
}
.modal-details-product-info p{
    margin: 0;
}

/* Dashboard Orders */
.dashboard-orders{
    display: none;
    flex-direction: column;
}

.buyer-image{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

/* Chat */
.chat-list{
    flex-direction: column;
    gap: 10px;
    margin-top: 2vh;
    background: white;
    width: 85%;
    height: 500px;
    box-shadow: grey 10px 20px 5px rgba(0, 0, 0, 0.1);
    padding: 0px 20px 20px 20px;
}

.chat-header{
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    
}

.chat-header-user{
    display: flex;
    align-items: center;
    gap: 10px;
}
.chat-header-user img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.chat-header-userdata{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "Roboto", sans-serif;
}
.chat-userdata-name{
    font-weight: bold;
    font-size: 15px;
}
.chat-userdata-secondary{
    color: rgb(130, 130, 130);
    font-size: 13px;
}

.chat-messages{
    margin-top: 5px;
    background: white;
    height: 400px;
    border-radius: 10px;
    padding: 20px;
    overflow-y: auto;
    font-family: "Roboto", sans-serif;
}
.chat-message{
    
    margin-bottom: 15px;
    max-width: 70%;
    padding: 10px 15px;
    border-radius: 10px;
    position: relative;
}

.message{
    color: black;
    display: flex;
    flex-direction: column;
}

.message-container{
    background: #E5E5EA;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 13px;
    font-family: "Roboto", sans-serif;
}

.message-container.sent{
    background: var(--primary-color);
    color: white;
    align-self: flex-end;
    margin-bottom: 8px;
}
.message-container.received{
    background: #E5E5EA;
    color: black;
    align-self: flex-start;
    margin-bottom: 8px;
}

.chat-input{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    width: 100%;
    
}
.chat-input input[type="text"]{
    flex: 1;
    border: none;
    padding: 10px 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
}
.chat-input button{
    background: var(--primary-color);
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
}
.chat-input button:hover{
    background: darken(var(--primary-color), 5%);
    cursor: pointer;
    color: black;
}

/*Dashboard Verificacion*/

.dashboard-verification{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    margin-top: 50px;
}

.verification-novirified{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    height: 300px;
    border-radius: 10px
}

.noverified-main, .verification-verified{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.noverified-main span{
    font-size: 90px;
    color: #E74C3C;
}

.noverified-main h2{
    margin: 0;
    color: #3498DB;
}

.noverified-main button{
    background: #2ECC71;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.noverified-main p{
    width: 80%;
}

.verification-verified span{
    font-size: 90px;
    color: #00a81c;
}


/* Responsive Design */
@media only screen and (max-width: 820px) {
    .aside-dashboard{
        left: -250px;
        box-shadow: 20px 0 20px rgba(0, 0, 0, 0.1);
    }

    .main-dashboard{
        margin-left: 0;
        padding: 10px 10px 10px 0px;
    }

    .header-dashboard{
        justify-content: left;
    }

    .header-dashboard-title h1{
        font-size: 20px;
    }

    .header-dashboard-title span{
        font-size: 12px;
    }

    .header-dashboard-userdata{
        display: none;
    }
    .header-action-btn-menu{
        display: block;
        margin-right: 10px;
    }

    .header-dashboard-actions{
        margin-left: auto;
    }

    .aside-title{
        display: flex;
        align-items: center;
    }
}

@media only screen and (max-width: 730px) {
    .purchases-list{
        flex-direction: column;
        align-items: center;
    }
}