@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap');


body{
    background: var(--bg);
    font-family: "Roboto", sans-serif;
}

:root{
    --primary-color: #03d26f;
    --secondary-color: #014651;
    --accent-color: #161514;
    --text-color: #f1f1f1;
    --link-color: #cef431;
    --bg:#e8f1f3;
}

.header-mobile-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-family: "Roboto", sans-serif;
}

.header-mobile-top span{
    font-size: 30px;
}

.header-mobile-top h1{
    margin: 0;
}

.header-mobile-top img{
    width: 40px;
    border-radius: 100px
}

.header-mobile-buttom{
    display: flex;
    justify-content: center;
    background-color: var(--secondary-color);
    padding: 10px;
    align-items: center;
}

.header-mobile-buttom input{
    border: none;
    outline: none;
    background-color: white;
    padding:10px 5px;
    width: 250px;
    max-width: 400px;
    color: black;
    height:40px;
    border-radius: 3px 0px 0px 3px;
}

.header-mobile-buttom button{
    background: var(--primary-color);
    border: none;
    color: var(--text-color);
    padding: 0px 20px;
    height:40px;
    border-radius: 0px 3px 3px 0px;
}

.main-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.swiper{
    width: 100%;   
}

.slider-image{
    width: 100%;
    height: 160px;
}

.categorys{
    width: 100%;               /* usa todo el ancho disponible */
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category-item{
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
    width: 150px;
    flex-shrink: 0;
    margin-right: 10px;
}

.categorys-item{
    max-width: 100%;
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    background: white;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
}

.category-item span{
    font-size: 35px;
    color: var(--primary-color);
}

.category-item p{
    text-align: center;
    font-weight: bolder;
}

.mas-vendidos{
    width: 95%;
    margin: 20px;
}

.productos-vendidos{
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 1024px) {
    .slider-image{
        width: 100%;
        height: auto;
        scrollbar-width:thin;
    }

    .categorys-item::-webkit-scrollbar {
    display: block;                    /* Muestra scroll en Chrome/Safari */
    height: 8px;                       /* Altura de la barra */
  }
}
