<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style='text-align: center; font-family: Arial, sans-serif; border: 1px solid #ccc; padding: 50px 80px; width: 400px; margin: auto; border-radius: 10px; background-color: #f9f9f9;'>
        <h1>
            <span style='color:#00b45d;'>Merca<span style='color:#014651;'>Zone</span></span>
        </h1>
        <span style='text-decoration:none; font-weight: bold;'>Tu cuenta ha sido activada.</span>
        <p>Para iniciar sesión utiliza los siguientes datos</p>
        <p><strong>Correo electronico: </strong></p>
        <p><strong>Contraseña: </strong></p>
        <!-- <a href='' style='display: inline-block; background-color: #00b45d; color: white; padding: 10px 20px; border-radius: 5px; text-decoration: none;'>Verificar cuenta</a> -->
        
        <p>Gracias por registrarte en MercaZone. :3</p>
    </div>
    
</body>
</html>