<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style='text-align: center; font-family: Arial, sans-serif;  padding: 50px 80px; width: 400px; margin: auto; border-radius: 10px; background-color: #f9f9f9;'>
        <h1>
            <span style='color:#00b45d;'>Merca<span style='color:#014651;'>Zone</span></span>
        </h1>
        <span style='text-decoration:none; font-weight: bold;'>Nos alegra saber que te quieres verificar.</span>
        <p>Has enviado correctamente tu información para la verificación</p>
        <p>Por los momentos solo queda <strong>esperar</strong> que el equipo de MercaZone compruebe tu información y concuerde con los datos que ingresaste en el registro</p>
        <p><strong>En caso que hayas ingresado tu información de forma incorrecta debes volver a llenar el formulario de verificación</strong></p>
        <p>Att: Equipo de MercaZone</p>
    </div>
    
</body>
</html>