<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style='text-align: center; font-family: Arial, sans-serif; padding: 50px 80px; width: 400px; margin: auto; border-radius: 10px; background-color: #f9f9f9;'>
    <h1>
        <span style='color:#00b45d;'>Merca<span style='color:#014651;'>Zone</span></span>
    </h1>

    <span style='text-decoration:none; font-weight: bold;'>¡Buenas noticias!</span>

    <p>Un administrador de MercaZone te ha otorgado un <strong>descuento especial</strong>.</p>

    <p>
        <strong>Descuento:</strong> {{DESCUENTO}}% <br>
        <strong>Concepto:</strong> {{CONCEPTO}}
    </p>

    <p>Este descuento es válido para un solo uso y podrás aplicarlo directamente al momento de pagar en tu próxima compra.</p>

    <p><strong>Si no solicitaste este descuento o crees que se asignó por error, por favor contáctanos.</strong></p>

    <p>Att: Equipo de MercaZone</p>
</div>

    
</body>
</html>