<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/products.css">
    <title>MercaZone | Pagina Principal</title>
</head>
<body>
    <header class="main-header">
        <div class="header-mobile">
            <div class="header-mobile-top">
                <span class="material-symbols-outlined">menu</span>
                <h1>
                    <span style="color:#00b45d">Merca<span style="color:#014651">Zone</span></span>
                </h1>
                <img src="../../assets/uploads/usersgoogle/user_b2e8266f3fc8ba2f4a254bdf33ca8300.jpg" alt="">
            </div>
            <div class="header-mobile-buttom">
                <input type="search" name="searchmz" id="" placeholder="Busca en MercaZone">
                <button><span class="material-symbols-outlined">search</span></button>
            </div>
        </div>
    </header>
    <main class="main-main">
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img class="slider-image" src="../img/banner1.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img class="slider-image" src="../img/banner2.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img class="slider-image" src="../img/banner3.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img class="slider-image" src="../img/banner4.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img class="slider-image" src="../img/banner5.png" alt="">
                </div>
            </div>
        </div>
        <div class="categorys">
            <h2>¿Que estas buscando?</h2>
            <div class="categorys-item">
                <a href="" class="category-item">
                    <span class="material-symbols-outlined">laptop</span>
                    <p>Computadoras y Laptops</p>
                </a>
                <a href="" class="category-item">
                    <span class="material-symbols-outlined">mobile_2</span>
                    <p>SmartPhones</p>
                </a>
                <a href="" class="category-item">
                    <span class="material-symbols-outlined">headphones</span>
                    <p>Accesorios</p>
                </a>
                <a href="#" class="category-item">
                    <span class="material-symbols-outlined">watch</span>
                    <p>Relojes</p>
                </a>

                <a href="#" class="category-item">
                    <span class="material-symbols-outlined">tv</span>
                    <p>Televisores</p>
                </a>

                <a href="#" class="category-item">
                    <span class="material-symbols-outlined">videogame_asset</span>
                    <p>Consolas</p>
                </a>

                <a href="#" class="category-item">
                    <span class="material-symbols-outlined">camera_alt</span>
                    <p>Cámaras</p>
                </a>

                <a href="#" class="category-item">
                    <span class="material-symbols-outlined">home</span>
                    <p>Hogar</p>
                </a>

                <a href="#" class="category-item">
                    <span class="material-symbols-outlined">chair</span>
                    <p>Muebles</p>
                </a>

                <a href="#" class="category-item">
                    <span class="material-symbols-outlined">toys</span>
                    <p>Juguetes</p>
                </a>

                <a href="#" class="category-item">
                    <span class="material-symbols-outlined">directions_car</span>
                    <p>Automotriz</p>
                </a>

                <a href="#" class="category-item">
                    <span class="material-symbols-outlined">shopping_bag</span>
                    <p>Moda</p>
                </a>
            </div>
        </div>
        <div class="mas-vendidos">
            <h2>Productos Mas Vendidos</h2>
            <div class="productos-vendidos">
                <div class="product-item" data-productid="1" id="product-item">
                    <span class="sales">20 Vendidos</span>
                    <div class="product-item-img">
                        <img src="../img/controller.png" alt="">
                    </div>
                    <div class="product-item-info">
                        <h3 class="product-item-title">Xbox Controller Edicion Limitada</h3>
                        <p class='product-item-price'>
                            <span class='old-price'>$300 / 1000.00Bs-</span>
                            <span class='new-price'>$100 / 2000Bs</span>
                        </p>
                    </div>
                </div>
                <div class="product-item" data-productid="1" id="product-item">
                    <span class="sales">20 Vendidos</span>
                    <div class="product-item-img">
                        <img src="../img/controller.png" alt="">
                    </div>
                    <div class="product-item-info">
                        <h3 class="product-item-title">Xbox Controller Edicion Limitada</h3>
                        <p class='product-item-price'>
                            <span class='old-price'>$300 / 1000.00Bs-</span>
                            <span class='new-price'>$100 / 2000Bs</span>
                        </p>
                    </div>
                </div>
                <div class="product-item" data-productid="1" id="product-item">
                    <span class="sales">20 Vendidos</span>
                    <div class="product-item-img">
                        <img src="../img/controller.png" alt="">
                    </div>
                    <div class="product-item-info">
                        <h3 class="product-item-title">Xbox Controller Edicion Limitada</h3>
                        <p class='product-item-price'>
                            <span class='old-price'>$300 / 1000.00Bs-</span>
                            <span class='new-price'>$100 / 2000Bs</span>
                        </p>
                    </div>
                </div>
                <div class="product-item" data-productid="1" id="product-item">
                    <span class="sales">20 Vendidos</span>
                    <div class="product-item-img">
                        <img src="../img/controller.png" alt="">
                    </div>
                    <div class="product-item-info">
                        <h3 class="product-item-title">Xbox Controller Edicion Limitada</h3>
                        <p class='product-item-price'>
                            <span class='old-price'>$300 / 1000.00Bs-</span>
                            <span class='new-price'>$100 / 2000Bs</span>
                        </p>
                    </div>
                </div>
                <div class="product-item" data-productid="1" id="product-item">
                    <span class="sales">20 Vendidos</span>
                    <div class="product-item-img">
                        <img src="../img/controller.png" alt="">
                    </div>
                    <div class="product-item-info">
                        <h3 class="product-item-title">Xbox Controller Edicion Limitada</h3>
                        <p class='product-item-price'>
                            <span class='old-price'>$300 / 1000.00Bs-</span>
                            <span class='new-price'>$100 / 2000Bs</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>
    <script src="../js/carousel.js"></script>
</body>
</html>