<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/products.css">
    <link rel="stylesheet" href="../css/dashboard.css">
    <title>MercaZone</title>
</head>
<body>
<header>
    </header>
    <main class="main-products">
        <div class="products-title">
            <h2>Accesorios</h2>
            <p>Mostrando 4 de 4 productos</p>
        </div>
        <div class="products-filters">
            <select name="sort" id="sort">
                <option value="popularity">Más populares</option>
                <option value="price_low">Precio: Bajo a Alto</option>
                <option value="price_high">Precio: Alto a Bajo</option>
            </select>
        </div>
        <div class="products-container">
            <div class="products-items" >
                
                <div class="product-item" data-productid="1" id="product-item">
                    <span class="discount">50% OFF</span>
                    <div class="product-item-img">
                        <img src="../img/controller.png" alt="">
                    </div>
                    <div class="product-item-info">
                        <h3 class="product-item-title">Xbox Controller Edicion Limitada</h3>
                        <p class='product-item-price'>
                            <span class='old-price'>$300 / 1000.00Bs-</span>
                            <span class='new-price'>$100 / 2000Bs</span>
                        </p>
                    </div>
                </div>
            </div>
            <aside class="products-categorys">
                <h4>Categorías</h4>
                <ul>
                    <li><a href="#">Accesorios</a></li>
                    <li><a href="#">Consolas</a></li>
                    <li><a href="#">Videojuegos</a></li>
                    <li><a href="#">Merchandising</a></li>
                    <li><a href="#">Hardware</a></li>
                    <li><a href="#">Otros</a></li>
                </ul>
            </aside>
        </div>
    </main>
    <div class="modal-universal" id="modal-product">
        <div class="modal-universal-body">
            <span class="material-symbols-outlined modal-close" id="modal-close">close</span>
            <div class="modal-product-info">
                <div class="product-info-img">
                    <img src="../img/controller.png" alt="">
                </div>
                <div class="product-info-data">
                    <div class="product-info-sold">Vendidos: 100</div>
                    <h3 class="product-info-title">Xbox Controller Edicion Limitada</h3>
                    <p class="product-info-price">$60 / 43.234Bs <span class="product-info-price-old">$80 / 55.234Bs</span></p>
                    <div class="product-info-status">Disponible</div>
                    <p class="product-info-description">Xbox Wireless Controller, Color Gris</p>
                    <p class="product-info-seller">Vendido por: <a href="">Tiendas XYZ</a></p>
                    <form class="add-to-cart-form" action="">
                        <label for="quantity">Cantidad:</label>
                        <select name="quantity" id="quantity">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <button type="submit" class="add-to-cart-button">Agregar al carrito</button>
                    </form>
                    <button class="report-product-button">Reportar producto</button>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/jquery.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/products.js"></script>
</body>
</html>