/* Estilos para la tabla de productos */
.tabla-productos {
    margin-top: 30px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-tabla {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header-tabla h2 {
    margin: 0;
    color: #2c3e50;
}

.btn-agregar {
    background-color: #07f060;
    border: none;
    padding: 10px 20px;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 5px;
}

/* Estilos para la imagen del producto */
.imagen-producto {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    object-fit: cover;
}

/* Estilos para los botones de acciones */
.editar, .eliminar {
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 5px;
}

.editar {
    background-color: #09add6;
    color: white;
}

.eliminar {
    background-color: red;
    color: white;
}

/* Estilos para los modales */
.ventanatema {
    display: none; /* Ocultar por defecto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.ventanatema form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 600px;
    text-align: center;
}

.botones-modal {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.botones-modal button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.botones-modal button[type="submit"] {
    background-color: #4caf50;
    color: white;
}

.botones-modal button[type="button"] {
    background-color: #f44336;
    color: white;
}

/* Propiedades Pagina de modificacion de productos */
.product_edit{
    display: flex;
    justify-content: center;
}

.formProductoedit {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    padding: 10px;
    opacity: 1;
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    height: auto;
}

.formProductoedit form h2 {
    color: #083358;
    font-weight: bolder;
    margin-bottom: 1rem;
}

.formProductoedit label {
    font-weight: bolder;
    margin-bottom: 5px;
}

.formProductoedit input[type="text"] {
    width: 300px;
    height: 26px;
    padding: 3px;
    margin-bottom: 1rem;
    text-align: center;
    border-radius: 5px;
    border: none;
    background-color: #e4e4e4;
    font-weight: bolder;
}

.formProductoedit input[type="number"] {
    width: 140px;
    height: 26px;
    padding: 3px;
    margin-bottom: 1rem;
    text-align: center;
    border-radius: 5px;
    border: none;
    background-color: #e4e4e4;
    font-weight: bolder;
}

.formProductoedit input[type="file"] {
    width: auto;
    height: 26px;
    padding: 4px;
    margin-bottom: 1rem;
    text-align: center;
    border-radius: 5px;
    border: none;
    background-color: #e4e4e4;
    font-weight: bolder;
}

.formProductoedit textarea {
    resize: none;
    padding: 1px;
    height: 50px;
    width: 300px;
    border-radius: 5px;
    background-color: #e4e4e4;
    margin-bottom: 10px;
    font-weight: bolder;
    border: none;
}

.formProductoedit button:nth-child(1) {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 30px;
    font-weight: bolder;
    cursor: pointer;
}

.formProductoedit button:nth-child(2) {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 30px;
    font-weight: bolder;
    cursor: pointer;
    margin-left: 15px;
}